<main class="container">
        <h2 class="fade-in-text">Welcome to Greek Connect!</h2>
        <p class="fade-in-text">Our goal is to create an all-in-one platform for memebers of <strong>Greek Life</strong> to <em>expand</em> and <em>enhance</em> their alumni network. Through <strong><em>Greek Connect</em></strong> undergraduates can send out <em>announcements, flyers, and event invites</em> to their alumni database all in one place. </p>
        <img src="images/brothers.jpg" class="img fade-in-text" height="430" width="600" alt="Phi Psi Brothers">      
        <p class="fade-in-text">Greek Connect will bring together vast <em>alumni networks</em> for members of greek life to further <strong>advance</strong> their professional development and career outlet.</p>
        <div class="fade-in-text" id="productInfo"></div>
</main>