body{
    font-family: Arial, sans-serif;
    background-color: #f3efc3; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%; 
    overflow-x: hidden; 
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
}

.container {
    
    align-items: center;
    justify-content: center;
}

.fade-in-text {
    opacity: 0;
    transition: opacity 1.6s ease-in-out;
}

.img{
    border: 2px solid black; 
    box-shadow: 0px 5px 10px; 
    border-radius: 5%; 
    margin-bottom: 60px; 
}

#subtitle{
    font-weight: bold; 
    position: relative;
    animation: waveMotion 4s infinite;
}

@keyframes waveMotion {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#brandName{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px; 
    font-size: 40px; 
    text-shadow: 0 0 10px gold; /* Initial glow effect */
    animation: glowAnimation 3s infinite;
}

@keyframes glowAnimation {
    0%, 100% {
        text-shadow: 0 0 10px gold; /* Start and end with the initial glow effect */
    }
    50% {
        text-shadow: 0 0 20px gold; /* Peak brightness in the middle of the animation */
    }
}

header{
    background-color: #7e9163;
    color: white;
    text-align: center;         
    padding-bottom: 1em;
    text-shadow: 1px 1px black; 
    font-size: 15px; 
}

.navbar{
    background-color: #62724d;
    padding: 1em;
    text-align: center; 
    border-width: thick; 
    box-shadow: 0px 5px 10px; 
    text-shadow: 1px 1px black; 
    font-size: 20px; 
    width: 100%; 
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
    transition: background-color 0.3s ease;
    border: 1px solid white;
    border-radius: 8%; 
    position: relative; 
    cursor: pointer;
    vertical-align: middle;
}

.navbar a:hover {
    background-color: #f3efc3;
    color: #7e9163; 
}

/* Add a class to make the navbar sticky */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    padding: 2em;
    text-align: center; 
    font-size: 30px;
    padding-bottom: 100px; 
}

footer {
    background-color: #7e9163;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    body{
        font-size: 30px; 
    }
    .navbar a{
        text-align: center; 
        display: block; 
        margin: auto; 
    }
    
    #img{
        max-width: 100%;
        height: auto;
    }
}